name = "voice-clone-showcase"
main = ".open-next/worker.js"
compatibility_date = "2024-11-01"
compatibility_flags = ["nodejs_compat"]

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[[kv_namespaces]]
binding = "VOTES"
id = "fba90fd25a414c029e22ddc876a2a79c"

[vars]
NEXT_PUBLIC_BACKEND_URL=https://voclo-backend.onrender.com